.Chats {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 60px auto;
    grid-auto-flow: column;
    overflow: hidden;
}
.Title {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    border-bottom: 1px solid #212121;
}
.Title span {
    font-size: 11px;
    padding-left: 2px;
}
.Conversation {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 60px;
    grid-auto-flow: column;
    overflow: hidden;
}

.SendMessage {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.SendMessage form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-auto-flow: row;
    background-color: tomato;
}
.SendMessage form label input {
    width: 100%;
    height: 100%;
}
.SendMessage form label button {
    width: 100px;
    height: 100%;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    background-color: steelblue;
}
.SendMessage form label button:hover { 
    font-size: 14px;
}