.Content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    align-content: flex-start;
    overflow-y: auto;
}
.About {
    width: 100%;
    min-height: calc(100vh - 6rem);
    background-color: blueviolet;
}